@charset "utf-8";

/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button{margin:0;padding:0;font-variant: normal;line-height: normal;font-style: normal; font: 12px '돋움', dotum, sans-serif; color: #444;}
fieldset,img{border:0 none}
dl,ul,ol,menu,li {list-style:none}
blockquote, q {quotes:none}
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none}
input,select,textarea,button {vertical-align:middle}
button {border:0 none;background-color:transparent;cursor:pointer}
body {background:#fff}
body,th,td,input,select,textarea,button {font-size:12px;line-height:normal;font-style: normal; font-variant: normal; font-family:'맑은 고딕', 'Malgun Gothic', AppleSDGothicNeo-Light, sans-serif;color:#333} /* color값은 디자인가이드에 맞게사용 */
a {color:#333;text-decoration:none}
a:active, a:hover {text-decoration:underline}
address,caption,cite,code,dfn,em,var {font-style:normal;font-weight:normal}

/* global */
#daumIndex {overflow:hidden;position:absolute;left:-9999px;width:0;height:1px;margin:0;padding:0} /* 스킵네비게이션 */
.ir_pm {display:block;overflow:hidden;font-size:0px;line-height:0;text-indent:-9999px}
.ir_wa {display:block;overflow:hidden;position:relative;width:100%;height:100%;z-index:-1}
.screen_out {display:block;overflow:hidden;position:absolute;left:-9999px;width:1px;height:1px;font-size:0;line-height:0;text-indent:-9999px}
.screen_hide {font-size:0;line-height:0;visibility:hidden}

.f_l {float:left}
.fl {float:left}
.f_r {float:right}
.fr {float:right}
.cl_b {clear:both;width:0;height:0;font-size:0;line-height:0}
.show {display:block}
.hide {display:none}
.tbl {border-collapse:collapse;border-spacing:0} /* 테이블 초기화 */

html {overflow-y:hidden}
body {overflow-y:hidden;height:640px;background:#f5f5f5}

.ico_talk {font-size:0;line-height:0;background:url(http://i1.daumcdn.net/cafeimg/top7/cafe/mycafe/ico_talk.png) no-repeat 0 0;text-indent:-9999px}
.btn_talk {font-size:0;line-height:0;background:url(http://i1.daumcdn.net/cafeimg/cafetop/btn_talk.png) no-repeat 0 0;text-indent:-9999px}
.img_messenger {background:url(http://i1.daumcdn.net/cafeimg/top7/cafe/mycafe/img_messenger.png) no-repeat 0 0}
.note_type1 {position:relative}
.note_type .wrap_talk {overflow:auto;position:relative;overflow-x:hidden;background:#f5f5f5}
.note_type .inner_head {position:relative;z-index:110}
.thumb_info {height:55px;padding:20px 20px 0 20px}
.thumb_info .link_thumb {position:relative;float:left;width:41px;height:41px;margin-right:7px}
.thumb_info .link_thumb .frame_g {position:absolute;left:0;top:0;width:41px;height:41px;background:url(http://i1.daumcdn.net/cafeimg/top7/cafe/mycafe/img_frame.png) no-repeat 0 0}
.thumb_info .cont_info {overflow:hidden;margin-right:70px;padding-top:2px}
.cont_info .tit_nickname {display:block}
.cont_info .tit_nickname .link_nickname {font-size:15px;color:#353741;letter-spacing:-1px}
.cont_info .tit_cafename {display:block;padding-top:4px}
.cont_info .tit_cafename .link_cafename {font-size:11px;line-height:17px;color:#959595;letter-spacing:-1px}
.inner_head .wrap_btn {position:absolute;right:22px;top:27px;width:61px;height:30px}
.inner_head .wrap_btn .btn_talk {width:28px;height:28px;text-indent:-9999px}

.inner_head .wrap_btn .btn_noti {float:left}
.inner_head .wrap_btn .btn_release {float:left;background-position:-80px 0}
.inner_head .wrap_btn .btn_noti:hover {background-position:-40px 0}
.inner_head .wrap_btn .btn_set {float:right;background-position:0 -40px}
.inner_head .wrap_on .btn_set {background-position:-40px -40px}          		
.wrap_btn .set_layer {display:none;position:absolute;right:0;top:29px;z-index:100;width:67px;border:1px solid #c5c5c5;border-radius:2px;background:#fff;text-align:center}
.wrap_btn .set_layer .btn_ban {display:block;line-height:30px;background:#f58788;color:#fff}
.wrap_btn .set_layer .btn_remove {line-height:30px;color:#525252}
.wrap_on .set_layer {display:block}

.note_type .chat_list {overflow:hidden}
.chat_list .item_chat {overflow:hidden;width:100%}
.chat_list .item_chat .inner_chat {overflow:hidden;max-width:60%;clear:both} 
.chat_list .inner_chat .info_chat {overflow:hidden;padding-top:20px}
.item_note1 .inner_chat .info_chat {padding-left:19px} /* 2015-04-24 수정 */
.item_note2 .inner_chat .info_chat {padding-right:19px} /* 2015-04-24 수정 */
.item_note1 .inner_chat .info_chat .img_sticker {float:left;}
.item_note2 .inner_chat .info_chat .img_sticker {float:right;}
.item_chat .inner_chat .desc_chat {display:inline-block;padding:12px;border-left:1px solid #f2f1f1;border-right:1px solid #f2f1f1;line-height:17px;word-break:break-word} /* 2015-05-11 수정 */
.item_note1 .inner_chat .desc_chat {color:#222;background:#fff}
.item_note2 .inner_chat .desc_chat {color:#fff;background:#f58788}
.item_chat .inner_chat .link_note {text-decoration:underline;word-wrap:break-word} /* 2015-05-11 수정 */
.item_note1 .inner_chat .link_note {color:#222}
.item_note2 .inner_chat .link_note {color:#fff}
.chat_list .item_note2 .inner_chat {float:right}
.chat_list .info_append {display:inline-block;float:left;width:100%;height:15px;padding-top:4px;padding-left:27px;font-size:11px;color:#959595;clear:both;text-align:left} /* 2015-04-22 추가 *//* 2015-04-24 수정 */
.wrap_line {margin-top:19px;font-size:11px;color:#959595;background:url(http://i1.daumcdn.net/cafeimg/top7/cafe/mycafe/bg_noteline.gif) repeat-x;text-align:center;clear:both}
.wrap_line .info_message {padding:0 10px;background:#f5f5f5}

.item_chat .wrap_chat {display:inline-block;position:relative;clear:both;padding-bottom:2px;text-align:left;background:url(http://i1.daumcdn.net/cafeimg/top7/cafe/mycafe/bg_chatbot.png) repeat-x 0 100%} /* 2015-04-24 수정 */
.item_note1 .wrap_chat {float:left}
.item_note2 .wrap_chat {float:right}
.chat_list .wrap_chat .bg_chat {width:3px;height:4px;position:absolute;background:url(http://i1.daumcdn.net/cafeimg/top7/cafe/mycafe/bg_chat.png) no-repeat 0 0}
.chat_list .item_note1 .bg_radius1 {left:0;top:0}
.chat_list .item_note1 .bg_radius2 {right:0;top:0;background-position:-3px 0}
.chat_list .item_note1 .bg_radius3 {right:0;bottom:0;background-position:-3px -4px}
.chat_list .item_note1 .bg_radius4 {left:0;bottom:0;background-position:0 -4px}
.chat_list .item_note2 .bg_radius6 {left:0;top:0;background-position:0 -25px}
.chat_list .item_note2 .bg_radius7 {right:0;top:0;background-position:-3px -25px}
.chat_list .item_note2 .bg_radius8 {right:0;bottom:0;background-position:-3px -29px}
.chat_list .item_note2 .bg_radius9 {left:0;bottom:0;background-position:0 -29px}

/* 단체 쪽지함 */
.note_type2 .item_note1 .inner_chat {max-width:100%;clear:both}
.note_type2 .item_note1 .info_chat {float:none;padding-right:19px} /* 2015-04-24 수정 */
.note_type2 .item_note1 .cafe_nickname {float:left;margin-bottom:10px;color:#f46769;text-decoration:none}
.note_type2 .tit_cafename .link_cafename {overflow:hidden;display:block;padding-top:7px;font-size:15px;line-height:17px;color:#353741;letter-spacing:-1px;text-decoration:none;white-space:nowrap;text-overflow:ellipsis}

.wrap_form {position:fixed;left:0;right:0;bottom:0;padding:18px 87px 17px 19px;border-top:1px solid #b8b5b3;background:#fff}
.wrap_sticker {z-index:10;padding-left:47px}
.wrap_form .btn_sticker {display:none}
.wrap_sticker .btn_sticker {display:block;position:absolute;left:20px;top:36px;width:20px;height:20px;background-position:0 -80px}
.wrap_sticker.sticker_on .btn_sticker {background-position:-30px -80px}
.wrap_form .tf_note {overflow:hidden;overflow-y:auto;height:52px;width:100%;border:0 none;line-height:17px;background-color:#fff}
.wrap_form .btn_send {position:absolute;right:13px;top:18px;width:58px;height:52px;border:1px solid #c9c9c9;border-radius:2px;font-size:13px;color:#e55852}

.ban_noti {position:absolute;left:0;top:75px;z-index:10;width:100%;height:60px;background:#786f71;opacity:0.7;filter:alpha(opacity=70)}
.ban_noti .desc_message {padding:12px 20px;line-height:18px;color:#fff;}
.note_noti {position:absolute;left:50%;bottom:88px;width:172px;height:15px;margin-left:-86px;padding:6px 0 7px 10px;border-radius:2px 2px 0 0;line-height:18px;background:#988d8e;color:#fff;text-decoration:none}
.group_noti {bottom:0;background:#f58788}
.note_noti .img_messenger {padding-left:25px;background-position:0 -25px;color:#fff;line-height: 18px}
.form_noti {position:absolute;left:0;bottom:0;right:0;width:100%;height:88px;background:#786f71;opacity:0.7;filter:alpha(opacity=70)}
.form_noti .desc_message {margin:37px 0 0 20px}
.form_noti .img_messenger {display:block;padding-left:25px;background-position:0 0;color:#fff;line-height:20px}

.wrap_talk .noti_error {position:absolute;left:50%;top:50%;width:160px;height:22px;margin-left:-80px;margin-top:-66px;padding-top:110px;font-size:18px;line-height:26px;color:#000;background:url(http://i1.daumcdn.net/cafeimg/top7/cafe/mycafe/bg_notierror.png) no-repeat 50% 0;text-align:center} /* 2015-05-08 에러 노티 추가 */

/* 선택한 스티커 보내기 */
.sticker_note {display:none;position:fixed;left:0;right:0;bottom:88px;height:135px;background:url(http://i1.daumcdn.net/cafeimg/top7/cafe/mycafe/bg_sticker.png) repeat-x 0 0;text-align:right}
.sticker_note .img_sticker {display:inline-block;padding-top:9px;padding-right:40px}
.sticker_note .btn_cancel {position:absolute;right:17px;top:13px;padding:3px}
.sticker_note .btn_cancel .ico_cancel {display:block;width:12px;height:13px;background-position:100% -200px}
/* 대화 알림 메세지 */
.alret_note {visibility:hidden;position:fixed;left:50%;top:50%;width:79px;height:79px;margin-left:-40px;margin-top:-40px}
.alret_note .ico_talk {display:block;width:79px;height:79px}
.alret_note .ico_active {background-position:0 -20px}
.alret_note .ico_ban {background-position:0 -110px}

/* 스티커 고르기 팝업 */
.layer_sticker {visibility:hidden;position:absolute;left:0;right:0;bottom:0;z-index:9;width:100%;margin-bottom:1px;background:#fff;
 -webkit-transition:bottom 0.3s ease-out; transition:bottom 0.3s ease-out;}
    .sticker_on .layer_sticker {visibility:visible;bottom:100%}
.layer_sticker .tab_sticker {height:30px;padding:5px 11px 4px;border-bottom:1px solid #eee}
.layer_sticker .tab_sticker li {float:left}
.layer_sticker .tab_sticker .link_sticker {display:block;width:30px;height:30px;margin:0 3px}
.layer_sticker .tab_sticker .on .link_sticker {background:url(http://i1.daumcdn.net/cafeimg/top7/cafe/mycafe/sticker_s_bg.gif) no-repeat 0 0}
.layer_sticker .list_sticker {padding:10px 15px 9px}
.layer_sticker .list_sticker li {display:inline-block;margin:0 4px 8px}
.layer_sticker .list_sticker .link_select {display:block;position:relative}
.layer_sticker .list_sticker .on .link_select {position:relative}
.layer_sticker .link_select .frame_g {display:none;position:absolute;left:0;top:0;width:72px;height:72px;background:url(http://i1.daumcdn.net/cafeimg/top7/cafe/mycafe/frame_sticker.png) no-repeat 0 0}
.layer_sticker .list_sticker .on .frame_g {display:block;}
.layer_sticker .popup_sticker_type .item_sticker {overflow-y:scroll;position:relative;height:259px}


